fastapi[standard]==0.113.0
pydantic==2.8.0
uvicorn==0.23.1           # ASGI server for running FastAPI
sqlalchemy==1.4.49        # SQLAlchemy ORM
fastapi-sqlalchemy==0.2.1  # Integration for FastAPI and SQLAlchemy
psycopg2-binary   # Alternative PostgreSQL driver (for sync support)
redis==4.6.0              # Redis client for Python
types-redis==4.0.2        # Type definitions for Redis
jinja2==3.1.2             # Templating engine for rendering HTML
alembic==1.10.1           # Database migrations for SQLAlchemy
python-multipart>=0.0.16   # Required for handling form data in FastAPI
fastapi-login>=1.10.2      # Required for handling FastAPI Login
bcrypt>=4.2.0               # Required for handling encrypt decrypt
colorama>=0.4.6             # Required for printing to debug
fastapi-async-sqlalchemy>=0.6.1  # Required for async debug
asyncpg==0.30.0           # PostgreSQL driver for async support
iota-sdk==1.1.4           # PostgreSQL  iota_sdk support, there is also one pip install iota as well